/* ADD WOOD CALCULATOR BACKGROUND */
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    padding:15rem;

}
.calculatorcontainer{
    background-image: url(images/resize-scott-web.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 26rem;
    height:40rem;
    border-radius: 20px;
    font-family: 'Dosis', sans-serif;
    box-shadow: 0 0 7px;
}
.allscreens{
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #efece5;

    width: 23rem;
    height: 8rem;
    align-items: flex-end;
    justify-content: center;
    font-size: 2.5rem;
    letter-spacing: 2px;
    cursor: default;
    margin-top: 2rem;
    box-shadow: inset 0 0 3.5px;

}
.topscreens{
    display: flex;
}
.screentwo{
    width: auto;
    height: 50%;
    text-align: end;
}
.operator{
    height:50%;
}
.screen{
    height:50%;
    width: auto;
    text-align: end;  
}
.buttonbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1.5rem;
    width: 22rem;
    height: 30rem;

}
.buttonbox button{
    background-color:#7aa4ba;
    color: #efece5;
    cursor: pointer;
    width: 4rem;
    height:4rem;
    border-radius: 10px;
    border: none;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    box-shadow: 0 0 4px black;
}
.buttonbox button:active{
    box-shadow: 0 0 0;
}
.buttonbox .color{
    background-color:#5a9abc;

}
.buttonbox .zero{
    width: 9.5rem;
    background-color:#5a9abc;
}
.buttonbox .equal{
    background-color:#5a9abc;
}